@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
    .bg-pr-400 {
        background-color: #3B82F6;
    }
    .bg-pr-300 {
        background-color: #60A5FA;
    }
    .bg-pr-200 {
        background-color: #93C5FD;
    }
    .bg-sec-400 {
        background-color: #F3F4F6;
    }
    .bg-sec-600 {
        background-color: #1F2937;
    }
    .text-pr-400 {
        color: #3B82F6;
    }
}
